@import "tailwindcss";
#root {
  margin: 0 auto;
  text-align: center;
  background-color: black; 
   padding-inline: 24px;

}

h1 {
    @apply mb-6 text-4xl font-bold;
  }

  h2 {
    @apply mb-4 text-3xl font-semibold;
  }

  h3 {
    @apply mb-3 text-2xl font-semibold;
  }

  h4 {
    @apply mb-2 text-xl font-medium;
  }

  h5 {
    @apply mb-2 text-lg font-medium;
  }

  h6 {
    @apply mb-1 text-base font-medium;
  }

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

